<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A simple Blog.">
<title>
    {% if page.title %}
    {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
</title>
<link rel="stylesheet" type="text/css" href="/css/pure-min.css">
<!--[if lte IE 8]>
<link rel="stylesheet" href="/css/grids-responsive-old-ie-min.css">  
<![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="/css/grids-responsive-min.css">  
<!--<![endif]-->
<!--[if lte IE 8]>
<link rel="stylesheet" href="/css/blog-old-ie.css">
<![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="/css/blog.css">
<!--<![endif]-->
</head>
<body>
<div id="layout" class="pure-g">

    <div class="sidebar pure-u-1 pure-u-md-1-5">

        <div class="header">
<img class="logo" src="/images/avatar.jpg" >
            <hgroup>
              
                <h1 class="brand-title"><a href="/">Hearken Me</a></h1>
                <h2 class="brand-tagline">静静倾听我</h2>
            </hgroup>

        </div>
    </div>
      
      


    {{ content }}

</div>
</body>

</html>
