<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
 <header id="sidebar">
    <figure id="avatar">
      <a href="/">
        <div class="pulse animate">&nbsp;</div>
        <img class="logo" src="/_image/avatar.jpg" alt="诗云">
      </a>
    </figure>
      <h1><a href="/">Hearken</a></h1>
    <p class="description"></p>
      <ul>
      
      
   
      
      
        
      
  
      </ul>
    
  </header>
  <section id="posts">
    <header id="banner"><span id="dtTime"></span> <span class="warning">beta</span></header>
      {% for post in site.posts %}
      <article>
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <div class="meta"><span class="date">{{ page.date | date: "%B %e, %Y" }}</span></div>
          <div class="p_part">{{ post.excerpt }}</p></div>
    
      </article>
      {% endfor %}
</section>
</body>

</html>
