---
layout: layout
---
<section class="content">
  <section id="posts">
    <header id="banner"><span id="dtTime"></span> <span class="warning">beta</span></header>
    <article>

    <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
   
    <div class="meta"><span class="date">{{ page.date | date: "%B %e, %Y" }}</span></div>
    <div class="content">
      
      

           {{ content }}
  
   </div>
   <div class="ds-thread" data-thread-key="{{page.id}}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"hearkenme"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
  </article>


  </section>

</section>

